<div class="menu">
  <ul>
    <li routerLink="/">Home</li>
    <li routerLink="/product">Product</li>
    <li routerLink="/configuration">Configuration</li>
  </ul>
  <div>
    <table class="i-table">
      <tr>
        <th class="th" align="center">TableNo</th><th class="th" align="center">Total</th>
        
      </tr>
      <tr *ngFor="let d of data" routerLink="/home/{{d.table}}">
        <td class="td" align="center">{{d.table}}</td><td class="td" align="center">{{d.total}}</td>
      </tr>
      </table>
  </div>
  <!-- {{data |json}} -->
</div>
<div class="main">
  <router-outlet></router-outlet>
</div>