.menu{
    position: absolute;
    top: 0;
    left: 0;
    width: 19%;
    height: 600px;
    float: left;
    border: 1px solid;
    overflow: hidden;
}
.main{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 5px;
    float: right;
    width: 80%;
    overflow: hidden;
}
.main-tab{
    padding: 0;
}

#sub-tab{
    padding: 0 !important;
}