 {{myForm.value | json }}
  <form class="form-horizontal" [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)">
   <div>
       <div class="col-sm-5">
           <input ngui-auto-complete
                  formControlName="continent"
                  [source]="continents"
                  [list-formatter]="autocompleListFormatter"
                  value-property-name="id"
                  display-property-name="name"
                  placeholder="Contients"
                  auto-select-first-item="true"
                  class="form-control">
       </div><br/>
       <button type="submit">Submit</button>
   </div>
</form>